*{

    --white: #fff;
    --whitevar1: #f2f2f2;
    --whitevar2: #e6e6e6;

    --darkred: #8B0000;
    --red: #B22222;
    --firebrick: #B22222;
    --lightcoral: #F08080;
    --complementary: #008A8A;

}