*{

    --white: #fff;
    --whitevar1: #f2f2f2;
    --whitevar2: #e6e6e6;

    --darkred: /*#8B0000*/ #a01e1e;
    --red: /*#B22222*/ #d73030;
    --redlight : #ad2b2b;
    --lightcoral: #3a3a3a;
    --complementary: #008A8A;

}