section#Home {
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(139,0,0, 0.63), transparent),
    radial-gradient(circle at 20% 80%, rgba(220,20,60, 0.40), transparent);
}
canvas {
    width: 100%;
    height: calc(100vh - 80px);
    background-size: cover;
}

section#Home span{
    z-index: 0;
    font-weight: bold;
    position: absolute;
    text-align: center;
}

section#Home span.word {
    position: relative;
    text-align: center;
}