section#Home {
    display: flex;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(139,0,0, 0.63), transparent),
    radial-gradient(circle at 20% 80%, rgba(220,20,60, 0.40), transparent);
}
canvas {
    width: 100%;
    height: calc(100vh - 80px);
    background-size: cover;
}

section#Home span{
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-size: 28pt;
    color: #f2f2f2;
}
