*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


#experience {
    box-sizing: content-box; /* Réinitialisation du box-sizing */
}


body{
    font-family: "Poppins", sans-serif;
}


section #he, #Home, #About ,#Projet, #skills_section ,#contact_section{
   /* display: flex; */
   /* z-index: 0; */
    width: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: var(--lightcoral);
    font-size: 180%;
}

section #he, #Home /*,#Projet*/ ,#contact_section{
    height: calc(100vh - 80px);
}


#Latest{
    background: var(--white);
}
#Contact{
    background: var(--whitevar1);
}
#Category,#Feedback{
    background: var(--whitevar2);
}



